{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
<section class="main">
  <div class="home_container">
    <h1 class="text_center">{% trans "Sign Out" %}</h1>
    <p class="text_center">{% trans 'Are you sure you want to sign out?' %}</p>

    <form method="post" action="{% url 'account_logout' %}">
      {% csrf_token %}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <button class="btn1 btn_center" type="submit">{% trans 'Sign Out' %}</button>
    </form>
  </div>
</section>

{% endblock %}