h1{
    margin-top: 20px;
    margin-bottom: 10px;
}
.main{
    display: flex;
    flex-direction: column;
}
.login-main{
    margin: auto;
    padding-right: 280px;
    padding-bottom : 65px;
}

@media (max-width: 800px) {
    .center_change {
        font-size: 80px;
        position: absolute; left: 50%; top: 50%;
        transform: translate(-50%, -50%);
    }
}