{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/page.css' %}">
<div class="page-main">
    <h1>My page</h1>
    <hr>
    <h2 class="Profile">{{request.user}}님 회원정보</h2>

    <div style="float:right">
        <div style="float:left; margin-left: 100px;" >
            <table class="table">
                <tbody>
                <tr>
                <td >
                    <h5 class="photo_text">최초 체형</h5>
                </td>
                <td>
                    <img src="data:image/jpg;base64,{{first.basic_img}}">
                </td>
                </tr>
                <tr>
                    <td>ID</td>
                    <td>{{ request.user }}</td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>{{ request.user.profile.name }}</td>
                </tr>
                <tr>
                    <td>Signup Date</td>
                    <td>{{ request.user.date_joined }}</td>
                </tr>
                <tr>
                    <td>Height</td>
                    <td>{{ request.user.profile.height }}</td>
                </tr>
                <tr>
                    <td>Weight</td>
                    <td>{{ request.user.profile.weight }}</td>
                </tr>
                <tr>
                    <td>Device PinNumber</td>
                    <td>{{ request.user.profile.device_pw }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock%}