{% extends 'base.html' %}
{% load static %}
{% block content %}
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/contact.css' %}">
</head>
<section class="main contact">
    <header><h1>Contact us</h1></header><br>
    <section>
        <table class="table">
            <tbody>
            <tr>
                <td>Tel</td>
                <td> </td>
            </tr>
            <tr>
                <td>Address</td>
                <td></td>
            </tr>
            <tr>
                <td>E-mail</td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </section>
</section>

{% endblock %}