{% extends 'base.html' %}
{% load static %}
{% block content %}
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/developer.css' %}">
</head>

<section class="main dev">
    <header><h1>Developer</h1></header><br>
    <section>
        <table class="table">
            <tbody>
            <tr>
                <td>Leader</td>
                <td>이도은 </td>
            </tr>
            <tr>
                <td>Web</td>
                <td>박지혜, 이지유, 임도연</td>
            </tr>
            <tr>
                <td>HW</td>
                <td>안상연, 이도은, 임도연</td>
            </tr>
            <tr>
                <td>Develop term</td>
                <td>2021.03 ~ 2021.11</td>
            </tr>
            <tr>
                <td>Web Git Link</td>
                <td><a href="https://github.com/dddooo9/hifive"  target="_blank" >https://github.com/dddooo9/hifive</a></td>
            </tr>
            </tbody>
        </table>
    </section>
</section>
{% endblock %}